.cardCollab {
    min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.collabs {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0;
  margin-left: 5vw;
  margin-bottom: 5vw;
  margin-right: 5vw;
}

.onsaitplus{
    display: flex;
}